body {
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

.countdown {
    display: inline-block;
    font-size: 1.7em;
    padding: 1em;
}

.countdown span {
    display: block;
    font-size: 5rem;
}